body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#reset {
    width: 150px;
    align-self: center;

}

#container {
    align-self: center;
    display: flex;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;
    background-color: aqua;
    justify-content: space-evenly;
    margin: 20px;
}


.square {
    height: 120px;
    width: 120px;
    background-color: blue;
    margin: 10px;
}

.changed {
    height: 120px;
    width: 120px;
    background-color: pink;
    margin: 10px;
}